
@font-face {
  font-family: 'SangSangBodyOTFL';
  src: url("../font/SangSangBodyOTFL.otf") format("opentype");
  font-weight: normal;
	font-style: normal; 
}
@font-face {
  font-family: 'SangSangBodyOTFM';
  src: url("../font/SangSangBodyOTFM.otf") format("opentype");
  font-weight: normal;
	font-style: normal; 
}

@font-face {
  font-family: 'SangSangTitleOTFB';
  src: url("../font/SangSangTitleOTFB.otf") format("opentype");
  font-weight: normal;
	font-style: normal; 
}

@font-face {
  font-family: 'SangSangTitleOTFM';
  src: url("../font/SangSangTitleOTFM.otf") format("opentype");
  font-weight: normal;
	font-style: normal; 
}

@font-face {
  font-family: 'NanumSquareR.ttf';
  src: url("../font/NanumSquareR.ttf") format("truetype");
  font-weight: normal;
	font-style: normal; 
}

@font-face {
  font-family: 'MapoGoldenPier';
  src: url("../font/MapoGoldenPier.eot");
  src: url("../font/MapoGoldenPier.eot?#iefix") format("embedded-opentype"), url("../font/MapoGoldenPier.woff") format("woff"), url("../font/MapoGoldenPier.ttf") format("truetype");
  font-weight: bold;
	font-style: normal; }


* {
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%; }

html, body {
  width: 100%;
  height: 100%;
  color: #1b1b1b;
  margin: 0;
  padding: 0; }

body {
  font: normal 100%/1.2 "NanumSquareR"; letter-spacing: -0.05em;
	}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, select, label, img, figure {
  margin: 0;
  padding: 0; }

button {
    background: none;
    border: 0;
	font-size:1em;
	outline:none;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {outline:none}
input,textarea,select {outline:0; outline:none; border:0; border:none; vertical-align:middle; font-size:1em; font-family: 'Nanum Squarebold'; color:#000}

table {
  border-collapse: collapse;
  width: 100%;
  background: #fff;
  margin: 0;
  padding: 0; }

fieldset, img, table, button {
  border: 0; }

ul, ol, li {
  list-style: none; }

img {
  vertical-align: middle; }

caption, legend {
  display: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: bold; 
  font-family: 'SangSangTitleOTFM'
  }

address, em {
  font-style: normal;
  padding: 0;
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, navi, section {
  display: block; }

legend, hr {
  display: none;
  height: 0;
  font-size: 0; }

a {
  color: #111111;
  text-decoration: none; }

p {
  padding: 0; }

button {
  color: #555;
  text-decoration: none;
  cursor: pointer; }