@charset "utf-8";
/* CSS Document */

.container {min-width:1280px;}
.header {height:100px; position:fixed; top:0; left:0; right:0; z-index: 9999; }

.header .bg {position:absolute; top:0; left:0; right:0; height:100px; background:#fff; transition: background .5s linear}
.header .bg .bg_inner {position:absolute; width:50%; height:100%; background:#fff; transition: background .5s linear}


.header.ty1 .bg {background:#f2f2f2}
.header.ty1 .bg .bg_inner {background:#0f4c82}

.header.ty2 .bg {background:#fff}
.header.ty2 .bg .bg_inner {background:#fff}

.header.ty3 .bg {background:#ecebe7}
.header.ty3 .bg .bg_inner {background:#ecebe7}

.header.ty4 .bg {background:#0f4c82}
.header.ty4 .bg .bg_inner {background:#0f4c82}


.header .header_inner {
position:relative; width:1280px; height:100px; margin:0 auto; z-index: 100
}

.header .header_inner .logo {
width:67px; height:33px;
position:absolute; top:0px; bottom:0px; left:73px; margin:auto;
}
.header .header_inner .logo .btn {position:relative; display:block}
.header .header_inner .logo .btn::after {
	content:""; display:block; width:50px; height:50px; 
	background:url('../img/icsmallmoon.png') no-repeat 0 0;
	background-size:100%;
	position:absolute; top:0; left:30px; bottom:0;
	margin:auto; opacity:50%;
}
.header .header_inner .logo h1 { }
.header .header_inner .logo h1 img {}

.header .header_inner .nav {
 position:absolute; top:0; left:720px}

.header .header_inner .nav {position:absolute; top:0; left:720px;}
.header .header_inner .nav h2 {display:none}
.header .header_inner .nav ul {overflow:hidden}
.header .header_inner .nav ul li {float:left; }
.header .header_inner .nav ul li + li{margin-left:71px}
.header .header_inner .nav ul li a {
display:block; height:100px; line-height:100px;
font-size:28px; font-family:'MapoGoldenPier'}

.header .header_inner .nav ul li.on a,
.header .header_inner .nav ul li a:hover {color:#999a9a;}

.header_blank {height:100px; border:1px solid #000}

.visual {position:relative; width:1280px; margin:0 auto;
}
.visual .titset {
    position: absolute;
    top: 157px;
    left: 238px;
    z-index: 100;
}
.visual .titset .hd3 {}
.visual .titset .hd3 img {}

.visual .bg {position: absolute;
    top: 173px;
    left: 365px;
	width:684px;
	height:725px;
	background: url(../img/mainbackground.png) no-repeat 0 0;	
	}
.visual .bg p {position:absolute; 
top:405px;
left:152px;
font-size:26.78px; 
z-index:1000;
}
.visual .bg .btn {position:absolute; top:464px; left:153px;
width:118px; height:28px; background:url('../img/more.png') no-repeat 0 0; z-index:1000;
}
.visual .bg .starset {position:absolute;
top:0; left:180px}
.visual .bg .starset .start {vertical-align:top;}
.visual .bg .starset .staro {}
.visual .bg .starset .starth {margin:20px 0 0 15px;}





.page {height:100vh; padding-top:120px; position: relative; overflow: hidden}

.page.visual {height:calc(100vh); padding:0}


/* .page공통 */
.page:not(.visual):not(.p4) {padding:0; }
.page:not(.visual) .cont { position:absolute; top:0; left:50%; width:1280px; height: 100%; margin: 0 0 0 -640px;  z-index: 10}
.page:not(.visual) .cont .direction {float:left; width:50%; height: 100%; padding-top:130px
}

.page:not(.visual) .cont::after { 
content:""; clear: both
}

.page:not(.p1) .cont .direction.lt {position:relative; top:0; bottom:0; left:0;
right:0;}
.page:not(.p1):not(.p4) .cont .direction.lt .ltset {position:absolute; top:170px; bottom:0; left:80px; right:0; }
.page .cont .direction .hd5 {font-size:140px; color:#adadad;}
.page:not(.p1):not(.p4) .cont .direction p {font-size:65px; position:absolute; top:56px; left:50px; right:0; font-family:'SangSangTitleOTFM' }
/**/

.page.p1 .cont .direction.lt {}
.page.p1 .cont .direction.lt .ltset {}
.page.p1 .cont .direction.lt .ltset .txtinfo {position:absolute;
	top:240px; left:126px; 
}
.page.p1 .cont .direction.lt .ltset .txtinfo::before {
content:""; display:inline-block; 
background:url('../img/me.png') no-repeat 0 0;
background-size:100%; width:373px; height:373px;
vertical-align: middle;
margin-bottom: 130px;
}
.page.p1 .cont .direction.lt .ltset .txtinfo .stxt { 
color:#fff; position:relative; left:calc(50% / 3); line-height:2
}
.page.p1 .cont .direction.lt .ltset .txtinfo .stxt.name {
	font-size:30px; 
}
.page.p1 .cont .direction.lt .ltset .txtinfo .stxt.info {
	font-size:23px; opacity:75%; line-height: 1.4
}

.page.p1 .cont .direction.rt {position:relative; top:0; left:0; bottom:0; right:0}
.page.p1 .cont .direction.rt .rtset {}
.page.p1 .cont .direction.rt .rtset .titinfo {position:absolute; top:294px; left:134px;}
.page.p1 .cont .direction.rt .rtset .titinfo .hd4 {font-size:45px; margin-left: 12px; text-indent: -15px;}
.page.p1 .cont .direction.rt .rtset .titinfo .titsv { font-size:14px;
margin:25px 0 0 20px; font-style: italic; text-indent: -8px;
}

.page.p1 .cont .direction.rt .rtset .moiinfo {position:absolute; top:750px; left:100px;
display:flex}
.page.p1 .cont .direction.rt .rtset .moiinfo .infoset { }
.page.p1 .cont .direction.rt .rtset .moiinfo .infoset .titedu {font-size:30px; color:#9a9a9a; opacity:50%}
.page.p1 .cont .direction.rt .rtset .moiinfo .infoset .edu {font-size:14px; margin-top:20px; }
.page.p1 .cont .direction.rt .rtset .moiinfo .infoset .edu p {margin-top:10px}
.page.p1 .cont .direction.rt .rtset .moiinfo .adobeicon {margin:8px 0 0 150px}
.page.p1 .cont .direction.rt .rtset .moiinfo .adobeicon img + img {margin-left:20px }

.page.p1 .bg {position:relative; height:100%; background:#f2f2f2}
.page.p1 .bg_inner {position:absolute; left:0; top:0; width:50%; height: 100%; background:#0f4c82}

/* btn 공통*/
.page .cont .direction .btnset { }
.page .cont .direction .btnset .btn {display: inline-block;  font-size:24px; margin-right:100px }
.page .cont .direction .btnset .btn::after {
	content:""; display:inline-block;
	background:url('../img/icon.png') no-repeat 0 0;
	background-size:100%;
	width:6px; height:16px;
	margin:0 16px;
}
.page .cont .direction .btnset .btn.small:hover {
content:""; display:inline-block; background:url('../img/btnhoversmall.png') no-repeat 0 center;  background-size:100%;}
.page .cont .direction .btnset .btn:hover {
content:""; display:inline-block; background:url('../img/btnhover.png') no-repeat 0 center;  background-size:100%;}
.page .cont .direction .infolist dt {font-size:24px; }
.page .cont .direction .infolist dt ~ dt {margin-top:90px;}
.page .cont .direction .infolist dd {margin-top:10px }
/**/

.page.p2 .cont .direction.lt .ltset {}
.page.p2 .cont .direction.lt .ltset .p2tit {}
.page.p2 .cont .direction.lt .ltset .btnset {position:absolute;
top:260px; left:102px}
.page.p2 .cont .direction.lt .ltset .btnset .btn { }
.page.p2 .cont .direction.lt .ltset .infolist {position:absolute;
top:392px; left:102px}


.page.p2 .cont .direction.rt .rtset {}
.page.p2 .cont .direction.rt .rtset a {display:block; 
position:absolute; top:465px; right:60px;	}
.page.p2 .cont .direction.rt .rtset a::after {
content:""; display:inline-block;
background:url('../img/p2one.png') no-repeat 0 0;
width:570px; height:570px;
background-size:100%;
vertical-align:middle;
z-index: -1;
position:absolute; top:-210px; left:150px}
.page.p2 .cont .direction.rt .rtset a img { }


.page.p3 {background-color:#ecebe7}
.page.p3 .cont .direction.lt .ltset .imacmoc {margin:30px 0 0 -106px}
.page.p3 .cont .direction.lt .ltset .imacmoc a {display:block;}
.page.p3 .cont .direction.lt .ltset .imacmoc img {width:100%}

.page.p3 .cont .direction.rt {position:relative; top:0; left:0;}
.page.p3 .cont .direction.rt .btnset {position: absolute; top: 426px; left: 160px;}
.page.p3 .cont .direction.rt .infolist {position: absolute; top: 558px; left: 160px;}

.page.p4 {background-color:#0f4c82}
.page.p4 .cont .direction.lt .ltset {}
.page.p4 .cont .direction.lt .ltset .moon {position:absolute; top:256px; left:277px;
}
.page.p4 .cont .direction.lt .ltset .txtbox {display:block; 
position:absolute; top:545px; left:142px;}
.page.p4 .cont .direction.lt .ltset .txtbox p {color:#fff}
.page.p4 .cont .direction.lt .ltset .txtbox p:first-child {font-size:18px; margin-bottom:46px; opacity:50%;}
.page.p4 .cont .direction.lt .ltset .txtbox p + p {font-size:14px;
margin-bottom:40px}

.page.p4 .cont .direction.rt {position:relative; top:0; left:0;}
.page.p4 .cont .direction.rt dl {position:absolute; top:170px; left:128px; right:128px; }
.page.p4 .cont .direction.rt dt,
.page.p4 .cont .direction.rt dd {color:#fff}
.page.p4 .cont .direction.rt dt {font-size:18px; opacity:50%}
.page.p4 .cont .direction.rt dd {margin:25px auto 70px; font-size:14px;}
.page.p4 .cont .direction.rt .meinfo {position:absolute;  bottom:44px; right: 60px;
color:#fff; opacity:50%}


























